

.nav-item  {
    cursor: pointer;
}
.nav-link {
    cursor: pointer;
}

.main-sidebar {
    position: fixed !important;
}

.callout{
	box-shadow: 3px 3px 7px rgb(126,126,126), 0 1px 2px rgb(126,126,126) !important;

}

/*//////////////////////////////////////////////
    MODALES inside ListPArtidosPoliticos.jsx
/////////////////////////////////////////////*/



.modal-confirm {		
	color: #636363;
	width: 400px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
	color: #999;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
	color: #999;
}		
.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
	color: #f15e5e;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.modal-confirm .btn-secondary {
	background: #c1c1c1;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #ee3535;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}



/*//////////////////////////////////////////////
    DATETIMEPICKER inside Step1.jsx
/////////////////////////////////////////////*/


.dateTimePicker:focus {
	outline:0;
}

.dateTimePicker {
	border-left:0;
	border-right:0;
	border-top:0;
	border-color: 'black'
}

.labeldateTimePicker {
	color: rgba(0, 0, 0, 0.54);
	font-size: 0.8rem;
	padding:0;
	top:0;
	left:0;

}


/*//////////////////////////////////////////////
    MODALES inside Electores.jsx
/////////////////////////////////////////////*/



.modal-success {		
	color: #636363;
	width: 400px;
}
.modal-success .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}
.modal-success .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-success h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-success .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-success .modal-body {
	color: #999;
}
.modal-success .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-success .modal-footer a {
	color: #999;
}		
.modal-success .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #17a2b8;
}
.modal-success .icon-box i {
	color: #17a2b8;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-success .btn, .modal-success .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #c1c1c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}

.modal-success .btn-secondary:hover, .modal-success .btn-secondary:focus {
	background: #c1c1c1;
}
.modal-success .btn-info {
	background: #17a2b8;
}
.modal-success .btn-info:hover, .modal-success .btn-info:focus {
	background: #1495a8;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}


/*//////////////////////////////////////////////
    TAB PAnel inside Reports.jsx
/////////////////////////////////////////////*/

.tab-content > .active {
    border: 1px solid #DEE2E6;
	margin-top: 10px;
	border-radius: 8px;
}


.fileContainer .deleteImage {
	background: rgb(223,69,84) !important;
}
.fileUploader	{
	border: 1px solid #ced4da;
	margin : 0px;

}

.fileContainer	{
	padding : 0px !important;
	box-shadow: 0px 0px 0px 0 !important;
	
}
.chooseFileButton  {
	margin: 0px !important;
}

.uploadPictureContainer {
	margin-top: 20px !important;
	margin-bottom: 10px !important;
}



@media screen and (max-width: 600px) {
       table {
           width:100%  !important;
       }
       thead {
           display: none  !important;
       }
       tr:nth-of-type(2n) {
           background-color: inherit  !important;
       }
       tr td:first-child {
           background: #f0f0f0  !important; 
           font-weight:bold  !important;
           font-size:1.3em  !important;
       }
       tbody td {
           display: block  !important;
           text-align:center  !important;
       }
       tbody td:before {
           content: attr(data-th)  !important;
           display: block  !important;
           text-align:center  !important;
       }
}

#igho-toast-container > .warn{
	background-color: #FFC71F !important;
	color:#5D562F;
}